html,
body {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    background-image: url("./assets/images/background.jpg");;
}

#material-icons-menu {
    font-size: 4rem;
    color: white;
}

.sidenav {
    background-color: rgb(255, 220, 206);
}

.user-view {
    background-color: white;
}

#menu_image {
    height: 7rem;
    width: 7rem;
}

#menuFont {
    font-size: 1.5rem;
    margin-bottom: 2.5%;
}

#headerFont {
    font-family: 'Poiret One', cursive;
    font-size: 7rem;
    color: white;
    text-shadow: 1px 3px 0 #666666, 1px 13px 5px #666666;
}

#headerContainer {
    margin-top: 2rem;
    margin-bottom: 7rem;
}

#mainBody {
    margin-bottom: none;
    background-color: rgba(131, 115, 101, 0.26);
}

#churchPic {
    width: 100%;
    border-radius: 10px;
    border: 4px solid rgba(245, 193, 191, 0.733);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#mainFont {
    font-family: 'Poiret One', cursive;
    color: black;
    padding: 3rem;
}

#secMainBod{
    margin-bottom: 25rem;
    padding: 4rem;
    background-color: rgba(255, 255, 255, 0.842);
    color: rgb(79, 130, 161);
    font-family: monospace;
}

#aboutUsCont {
    background-color: lightslategray;
}

.page-footer {
    background-color: rgba(245, 193, 191, 0.733);
}

iframe {
    margin-top: 10%;
}

.fb-like {
    filter: hue-rotate(320deg);
}